body {
  background-color: rgb(26, 26, 26);
  color: rgb(207, 219, 219);
  font-family: 'Courier', monospace;
  line-height: 1.3em;
}
a {
  color: white;
}
.container {
  height: 666px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
}
.pixelheartbox {
  float: left;
  position: relative;
  height: 6em;
  width: 7em;
}
.pixelheartbox:hover {
  cursor: pointer;
}
.pixelheart {
  display: block;
  width: 1em;
  height: 1em;
  box-shadow: 1em 0em #f22613, 2em 0em #f22613, 4em 0em #f22613, 5em 0em #f22613,
    0em 1em #f22613, 1em 1em #f22613, 2em 1em #f22613, 3em 1em #f22613,
    4em 1em #f22613, 5em 1em #f22613, 6em 1em #f22613, 0em 2em #f22613,
    1em 2em #f22613, 2em 2em #f22613, 3em 2em #f22613, 4em 2em #f22613,
    5em 2em #f22613, 6em 2em #f22613, 1em 3em #f22613, 2em 3em #f22613,
    3em 3em #f22613, 4em 3em #f22613, 5em 3em #f22613, 2em 4em #f22613,
    3em 4em #f22613, 4em 4em #f22613, 3em 5em #f22613;
  margin-right: 8em;
  margin-bottom: 8em;
}
.blips {
  position: absolute;
  top: 300px;
  left: 300px;
  display: block;
  width: 1em;
  height: 1em;
  box-shadow: 2em 0em #0400ff, 3em 0em #0400ff, 4em 0em #0400ff, 1em 1em #0400ff,
    1em 2em #0400ff, 1em 3em #0400ff, 5em 1em #0400ff, 5em 2em #0400ff,
    2em 4em #0400ff, 3em 4em #0400ff, 4em 4em #0400ff, 5em 3em #0400ff;
  transform: rotate(45deg) scale(0.5);
}
